elasticsearch
fastapi
pandas
pdfplumber
python-dotenv
python_pptx
tqdm
uvicorn
google-generativeai
ollama
pdfplumber
python-docx
openpyxl
mysql-connector-python
python-jose[cryptography]
passlib[bcrypt]
python-telegram-bot
requests
python-multipart